<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/lobby.css">
    <title>Document</title>
</head>

<body>
    <main class="main pw-ph-inner-height">
        <div id="lobby-controls">
            <div id="local-video">
                <video autoplay muted></video>
            </div>
            <div id="form">
                <form action="../lobby/<%= roomId %>" method="post">
                    <div id="video-controls">
                        <div id="camera-switch" class="switch-top-div">
                            <label class="switch">
                                <input type="checkbox" name="cam" checked>
                                <span class="slider round" id="camera-switch"></span>
                            </label>
                        </div>
                        <div id="microphone-switch" class="switch-top-div">
                            <label class="switch">
                                <input type="checkbox" name="mic" checked>
                                <span class="slider round" id="microphone"></span>
                            </label>
                        </div>
                    </div>
                    <div id="room-controls">
                        <input type="text" name="username" placeholder="Type your username here." id="username"
                            autocomplete="off">
                        <button id="submit">Join Room</button>
                    </div>
                </form>
            </div>

        </div>
    </main>
</body>
<script src="/js/site.js"></script>
<script src="/js/mediaStream.js"></script>
<script src="/js/lobby.js"></script>

</html>