<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/room.css">
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Meeting Room</title>
    <script>
        const ROOM_ID = "<%= roomId %>"
        const USERNAME = "<%= username %>"
        const MIC = "<%= mic %>"
        const CAM = "<%= cam %>"
        var USERID
    </script>
</head>

<body>
    <main class="container-row pw-ph-inner-height">
        <div id="left-panel">
            <div class="container-column pw-ph-100">
                <div id="video-panel">
                    <div id="video-grid">
                        <div id="local-video" class="active-video video-single">
                            <video muted autoplay>
                            </video>
                        </div>
                    </div>
                </div>
                <div id="video-buttons">
                    <div>
                        <button id="microphone-button" class="video-button"></button>
                        <button id="camera-button" class="video-button"></button>
                        <button id="chat-button" class="video-button"></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="right-panel">
            <div class="container-column pw-ph-100">
                <div id="chat-header" class="container-row">
                    <div id="close-chat">
                        <button class="chat-button pw-ph-100">X</button>
                    </div>
                    <div id="public-chat">
                        <h4>Public Chat</h4>
                    </div>
                </div>
                <div id="chat-panel">
                    <ul class="container-column">
                    </ul>
                </div>
                <div id="chat-controls">
                    <form>
                        <input type="text" id="message-input" placeholder="Type your message here." autocomplete="off">
                        <button type="submit" class="chat-button">></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/js/site.js"></script>
<script src="/js/mediaStream.js"></script>
<script src="/js/videoControls.js"></script>
<script src="/js/peerConnection.js"></script>
<script src="/js/chat.js"></script>
<script src="/js/signaling.js"></script>

</html>