<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://webrtc.github.io/adapter/adapter-latest.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
</head>

<body>
    <main id="container">
        <div id="video-section">
            <div id="video-grid">
                <div>
                    <video muted autoplay>
                    </video>
                </div>
                <div>
                    <video muted autoplay>
                    </video>
                </div>
                <div id="local-video">
                    <video muted autoplay>
                    </video>
                    <div id="video-buttons">
                        <div>
                            <button id="microphone-button" class="video-button"></button>
                            <button id="camera-button" class="video-button"></button>
                            <button id="chat-button" class="video-button"></button>
                            <button id="participants-button" class="video-button"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="chat-section">
            <div id="chat-container">
                <div id="chat-panel">
                    <ul>
                    </ul>
                </div>
                <div id="chat-controls">
                    <form>
                        <input type="text" id="message-input" placeholder="Type your message here." autocomplete="off">
                        <button type="submit">></button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="js/signal.js" defer></script>
<script src="js/chat.js" defer></script>
<script src="js/mediaStream.js" defer></script>
<script src="js/video.js" defer></script>

</html>