* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

:root {
    --d1: #13151b;
    --d2: #171920;
    --d3: #1b1e25;
    --d4: #1f222b;
    --d5: #232630;
    --n: #272b36;
    --l5: #4a5166;
    --l4: #6d7896;
    --l3: #9ea5b9;
    --l2: #ced2dc;
    --l1: #f0f2f4;
    --doc-height: 100%;
    --doc-width: 100%;
}

.pw-ph-inner-height {
    height: var(--doc-height);
    width: var(--doc-width);
}

.pw-ph-100 {
    height: 100%;
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--d1);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--l4);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--l1);
}

.switch-top-div {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--l4);
    border-radius: 5px;
    padding: 60px 2px 0px 2px;
}

.switch-left-div {
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--l4);
    border-radius: 5px;
    padding: 2px 2px 0px 60px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--d3);
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--l4);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: var(--l1);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--l1);
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}